@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.header {
    background-color: #94e7ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 100px;
}

.main {
    background-image: url('../img/ICONOGRAFIA.png');
    background-color: #cdffff;
    background-position:  right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 10px;

}

.menu_izquierdo,
.menu_derecho {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.menu_izquierdo a,
.menu_derecho a {
    text-decoration: none;
    color: #006691;
}

.seccion1, .seccion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.img_1, .img_2, .img_3 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
}

.img_i1, .img_i2, .img_i3 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.img_4, .img_5, .img_6 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
}

.img_i4, .img_i5, .img_i6 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.texto1, .texto2, .texto3 {
    padding: 10px;
    max-width: 400px;
    text-align: justify;
}

.texto4, .texto5, .texto6 {
    padding: 10px;
    max-width: 400px;
    text-align: justify;
}

.footer {
    background-color: #94e7ff;
    display: flex;
    justify-content: space-around;
    
}

.info {
    border-style: none;
    width: 180px;
    text-align: center;
}

