@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.header {
    background-color: #94e7ff;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.navbar_izquierdo, .navbar_derecho {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: left;
}

.logo {
    width: 100px;
}

.menu_izquierdo,
.menu_derecho {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    gap: 20px;
}

.menu_izquierdo a,
.menu_derecho a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #006691;
}

.main {
    background-image: url('../img/ICONOGRAFIA.png');
    background-color: #cdffff;
    background-position:  right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 20px;
    min-height: 100vh;
}

.section1, .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.img_1, .img_2, .img_3 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
}

.img_i1, .img_i2, .img_i3 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.img_4, .img_5, .img_6 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
}

.img_i4, .img_i5, .img_i6 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.texto1, .texto2, .texto3 {
    margin-top: 10px;
    padding: 10px;
    max-width: 400px;
    text-align: justify;
    background-color: rgba(62, 151, 180, 0.89);
}

.texto4, .texto5, .texto6 {
    margin-top: 10px;
    padding: 10px;
    max-width: 400px;
    text-align: justify;
    background-color: rgba(62, 151, 180, 0.89);
}

.footer {
    background-color: #94e7ff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    height: 100%;
}

.info {
    border-style: none;
    width: 180px;
    text-align: center;
    margin: 10px;
}

.columna_mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa {
    padding: 20px;
}

.texto_mapa {
    width: 600px;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    background-color: rgba(62, 151, 180, 0.89);
}

.columnas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.columna1, .columna2, .columna3 {
    margin: 20px;
}

.carta_item {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(62, 151, 180, 0.89);

}

.item {
    list-style: none;
}

.contactos {
    display: grid;
    justify-items: center;
}

.whatsapp {
    width: 368px;
    height: 368px;
    margin: 20px;
    border: 5px solid green;
    background-image: url("../img/contacto1.png");
    
}

.correo {
    width: 368px;
    height: 368px;
    margin: 20px;
    border: 5px solid rgb(180, 19, 19);
    background-image: url("../img/contacto2.png");
}



.titulo_contacto {
    text-align: center;
}

.columnas_carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel1, .carrusel2 {
    margin-top: 10px;
    width: 400px;
}

.container1, .container2{
  padding: 50px;
}

.texto_carrusel {
    width: 400px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(62, 151, 180, 0.89);
}

@media (min-width: 1024px) {
    .main {
      background-size: 50%;
    }
  
    .section1, .section2 {
      flex-direction: row;
    }
  
    .img_1, .img_2, .img_3, .img_4, .img_5, .img_6 {
      max-width: 400px;
    }
  
    .texto1, .texto2, .texto3, .texto4, .texto5, .texto6 {
      max-width: 400px;
    }
  
    .columnas {
      flex-direction: row;
    }
  
    .columna1, .columna2, .columna3 {
      margin: 20px;
    }
  
    .carta_item {
      width: 400px;
    }
  
    .contactos {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .whatsapp, .correo {
      width: 368px;
      height: 368px;
      margin: 20px;
    }
  
    .carrusel1, .carrusel2 {
      width: 400px;
    }
  
    .texto_carrusel {
      width: 400px;
    }
  }
  
  @media (max-width: 1023px) {
    .main {
      background-size: 100%;
    }
  
    .section1, .section2 {
      flex-direction: column;
    }
  
    .img_1, .img_2, .img_3, .img_4, .img_5, .img_6 {
      max-width: 100%;
    }
  
    .texto1, .texto2, .texto3, .texto4, .texto5, .texto6 {
      max-width: 100%;
    }
  
    .columnas {
      flex-direction: column;
    }
  
    .columna1, .columna2, .columna3 {
      margin: 10px;
    }
  
    .carta_item {
      width: 100%;
    }
  
    .contactos {
      grid-template-columns: 1fr;
    }
  
    .whatsapp, .correo {
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 10px;
      }
  
    .carrusel1, .carrusel2 {
      width: 100%;
    }
  
    .texto_carrusel {
      width: 100%;
    }
  }
  